# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# macOS
.DS_Store

# VSCode settings
.vscode/

# Log files
*.log

# Python notebooks
.ipynb_checkpoints/

# Environment variables
.env
